.intro h2 {
  color: brown;
  font-weight: 700;
  font-size: 30pt;
  text-shadow: 1px 1px darkred;
}

.intro p {
  color: darkblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: beige;
  padding: 20px;
  border: 2px solid red;
}

.intro img {
  float: right;
  width: 400px;
  border-radius: 10%;
}

.sidebar {
  float: left;
  background-color: #efefef;
  border: 3px cornflowerblue dotted;
  padding: 5px;
  margin: 10px;
  width: 10%;
}

.about {
  clear: left;
}

.sidebar a:hover {
  color: rgb(41, 65, 5);
}

.square {
  background-color: red;
  width: 100px;
  height:100px;
  margin-bottom: 10px;
}

.special.square{
  background-color: blue;
}