.intro h2 {
  color: brown;
  font-weight: 700;
  font-size: 30pt;
  text-shadow: 1px 1px darkred;
}

.intro p {
  color: darkblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro img {
  float: right;
  width: 400px;
  border-radius: 10%;
}

.sidebar {
  float: left;
  background-color: #efefef;
  width: 10%;
}

.sidebar a:hover {
  color: rgb(41, 65, 5);
}